@font-face {
    font-family: 'Halloween Morning';
    src: url('HalloweenMorning.woff2') format('woff2'),
        url('HalloweenMorning.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

